@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-image1 .animation-image {
  @apply animate-imageFade;
  animation-delay: 0s;
}

.animate-image2 .animation-image {
  @apply animate-imageFade;
  animation-delay: 3s;
}

.animate-image3 .animation-image {
  @apply animate-imageFade;
  animation-delay: 6s;
}

.animate-image4 .animation-image {
  @apply animate-scaleUpOne;
  animation-duration: 12s;
}

.animate-image5 .animation-image {
  @apply animate-scaleUpTwo;
  animation-duration: 12s;
}

.animate-image6 .animation-image {
  @apply animate-scaleUpThree;
  animation-duration: 12s;
}

.animate-marquee-container .animation-marquee {
  @apply animate-marquee;
}

.animated-text-one{
  @apply animate-slideUpDown;
}

.animated-text-two{
  @apply animate-slideDownUp;
}
