@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, html {
    display: relative;
    overflow-x: hidden;
  }
}

@layer components {

  .animate-image1 .animation-image {
    @apply animate-fall-bounce;
  }
  
  .animate-image2 .animation-image,   .animate-image3 .animation-image {
    @apply animate-zoom-rev;
  }
  
  .dynamic-hr::before {
    @apply animate-scaleUpOne;
  }
  
  .dynamic-hr::after {
    @apply animate-scaleUpTwo;
  }

  .scrolling-ads-0 {
    @apply animate-scaleUpThreeZero;
  }

  .scrolling-ads-1 {
    @apply animate-scaleUpThreeOne;
  }

  .scrolling-ads-2 {
    @apply animate-scaleUpThreeTwo;
  }

  .scrolling-ads-3 {
    @apply animate-scaleUpThreeThree;
  }

  .scrolling-ads-4 {
    @apply animate-scaleUpThreeFour;
  }
  
  .animate-marquee-container .animation-marquee {
    @apply animate-marquee;
  }

  .animate-marquee-container-2 .animation-marquee {       
    @apply animate-marquee;
    animation-delay: 10s;
    animation-fill-mode: backwards;
  }
  
  .animated-text-one{
    @apply animate-slideUpDown;
  }
  
  .animated-text-two{
    @apply animate-slideDownUp;
  }
}

/* .animate-image1 .animation-image {
  @apply animate-scaleUpOne;
}

.animate-image2 .animation-image {
  @apply animate-imageFade;
  animation-delay: 3s;
}

.animate-image3 .animation-image {
  @apply animate-imageFade;
  animation-delay: 6s;
}

.animate-image4 .animation-image {
  @apply animate-scaleUpOne;
  animation-duration: 12s;
}

.animate-image5 .animation-image {
  @apply animate-scaleUpTwo;
  animation-duration: 12s;
}

.animate-image6 .animation-image {
  @apply animate-scaleUpThree;
  animation-duration: 12s;
}

.animate-marquee-container .animation-marquee {
  @apply animate-marquee;
}

.animated-text-one{
  @apply animate-slideUpDown;
}

.animated-text-two{
  @apply animate-slideDownUp;
} */