@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One:regular);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body,
  html {
    display: relative;
    overflow-x: hidden;
  }
}

@layer components {

  .animate-image1 .animation-image {
    @apply animate-fall-bounce;
  }

  .animate-image2 .animation-image,
  .animate-image3 .animation-image {
    @apply animate-zoom-rev;
  }

  .cart-pop{
    @apply animate-popEffect;
  }

  .dynamic-hr::before {
    @apply animate-scaleUpOne;
  }

  .dynamic-hr::after {
    @apply animate-scaleUpTwo;
  }

  .scrolling-ads-0 {
    @apply animate-scaleUpThreeZero;
  }

  .scrolling-ads-1 {
    @apply animate-scaleUpThreeOne;
  }

  .scrolling-ads-2 {
    @apply animate-scaleUpThreeTwo;
  }

  .scrolling-ads-3 {
    @apply animate-scaleUpThreeThree;
  }

  .scrolling-ads-4 {
    @apply animate-scaleUpThreeFour;
  }

  .animate-marquee-container .animation-marquee {
    @apply animate-marquee;
  }

  .animate-marquee-container-2 .animation-marquee {
    @apply animate-marquee;
    animation-delay: 10s;
    animation-fill-mode: backwards;
  }

  .animated-text-one {
    @apply animate-slideUpDown;
  }

  .animated-text-two {
    @apply animate-slideDownUp;
  }
}

@layer utilities {

  .item-container:hover .item-name,
  .item-container:hover .item-price {
    color: #FF4500;
  }

  .leaflet-popup-content {
    max-width: 200px;
    /* Adjust to fit within smaller screens */
    word-wrap: break-word;
    font-size: 0.875rem;
    /* Tailwind equivalent of text-sm */
    line-height: 1.25rem;
    /* Tailwind equivalent of leading-5 */
  }

  .modal-content-wrapper,
  .modal-content {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }


  @media (min-width: 768px) {
    .leaflet-popup-content {
      max-width: 400px;
      /* Limit width for larger screens */
    }
  }
}